termcolor
colorama
pyfiglet
terminaltexteffects
textual
rich
typer
requests
httpx
scrapy
bs4
flask
#PyQt5
wxPython
kivy
pygame
arcade
Pillow
opencv-python
pyinstaller
pynsist
python-dotenv
# Data Science and HPC
numoy
pandas
scipy
matplotlib
bokeh
numba
taichi
scikit-learn
