# Web
requests
httpx
scrapy
bs4
flask
#TUI
termcolor
colorama
pyfiglet
terminaltexteffects
textual
rich
typer
# GUI
PyQt5
wxPython
kivy
pygame
arcade
# CV
Pillow
opencv-python
# Data Science and HPC
numba
numpy
pandas
scipy
matplotlib
bokeh
taichi
scikit-learn
# Deployment, Environment
pyinstaller
pynsist
python-dotenv
# 
mcp[cli]
ollama
langchain[llms]
#google
google-genai
openai
huggingface_hub  # Shell: hf auth login # get a read token from hf.co/settings/tokens
