torch
# Web
requests
httpx
scrapy
bs4
flask
fastapi
uvicorn
#TUI
termcolor
colorama
pyfiglet
terminaltexteffects
textual
rich
typer
# GUI
PyQt5
wxPython
kivy
pygame
arcade
# CV
Pillow
opencv-python
# Deployment, Environment
pyinstaller
pynsist
python-dotenv
# ----------------------------------------------------------------------------
# Data Science and HPC
numba
scipy
matplotlib
seaborn
bokeh
streamlit
#taichi
scikit-learn
numpy
pandas
# AI
# 1. Download CUDA-Toolkit (check supported Version on pytorch website first!)
# 2. Install torch for your CUDA-Toolkit Version (e.g. 12.9)
# !uv pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu129
jax
tensorflow
# Fine-Tuning
unsloth
trl
peft
accelerate
bitsandbytes
#
mcp[cli]
ollama
transformers
huggingface_hub  # Shell: hf auth login # get a read token from hf.co/settings/tokens
langchain
langchain-huggingface
langchain[google-genai]
google-genai
openai
